[submodule "deps/plog"]
	path = deps/plog
	url = https://github.com/vuljector/plog
	shallow = true
[submodule "deps/usrsctp"]
	path = deps/usrsctp
	url = https://github.com/vuljector/usrsctp
	shallow = true
[submodule "deps/libjuice"]
	path = deps/libjuice
	url = https://github.com/vuljector/libjuice
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/vuljector/json
	shallow = true
[submodule "deps/libsrtp"]
	path = deps/libsrtp
	url = https://github.com/vuljector/libsrtp
	shallow = true
